.preview .wiw-win-img:not(.active),
.preview .wiw-remove-field {
    display: none;
}

.preview#wiw-main-layout {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: unset;
    width: unset;
}

.preview#wiw-main-layout .table-responsive{
    overflow-x: unset;
}

#wiw-preview-wrapper canvas{
    width: 100% !important;
    height: 100% !important;
}